*{
    box-sizing: border-box;
}

body{
    background-image: url('img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.171));
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    width: 50%;
    overflow: hidden;
}

.ok{
    animation: true 1s ease-in-out;
}

.no{
    animation: false 1s ease-in-out;
}

@keyframes true {
    0%{
        box-shadow: 0 0 8px 2px rgb(0, 255, 0);
    }
    50%{
        box-shadow: 0 0 5px 1px rgb(0, 255, 0);
    }
    100%{
        box-shadow: 0 0 6px 2px rgb(0, 255, 0);
    }
}

@keyframes false {
    0% {
        box-shadow: 0 0 8px 2px rgb(255, 0, 0);
    }

    50% {
        box-shadow: 0 0 5px 1px rgb(255, 0, 0);
    }

    100% {
        box-shadow: 0 0 6px 2px rgb(255, 0, 0);
    }
}

.quiz-container ul{
    text-decoration: none;
    list-style-type: none;
}

.quiz-container ul li {
    margin-bottom: 1rem;
}

.question{
    margin-top: 0;
    text-align: center;
    font-size: 1.2rem;
    padding: 1em;
    background: linear-gradient(to right bottom, rgba(221, 221, 221, 0.226), rgba(94, 94, 94, 0.068));
}

.submit{
    color: aliceblue;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border: none;
    background: linear-gradient(to right bottom, rgba(0, 0, 255, 0.637), rgba(0, 0, 255, 0.521));
}

.submit:hover{
    background: linear-gradient(to right bottom, rgba(0, 0, 156, 0.836), rgba(0, 0, 163, 0.726));
}

.submit:focus{
    outline: none;
}

.footer{
    width: 100%;
    height: 5vh;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 7px 1px;
}

.answers{
    background: linear-gradient(to right bottom, rgba(255, 255, 46, 0.644), rgb(255, 255, 0));
    width: 100%;
    height: 100%;
}

.correct{
    background: linear-gradient(to right bottom, rgba(46, 255, 46, 0.644), rgb(0, 255, 0));
    width: 100%;
    height: 100%;
}

.wrong{
    background: linear-gradient(to right bottom, rgba(252, 46, 46, 0.644), rgb(255, 0, 0));
    width: 100%;
    height: 100%;
}

.footer h3 {
    margin: 1vh 0 0 0;
}
